.bsqt-component-overlay {
    position: absolute;
    background-color: rgba(255,255,255,0.3);
    z-index: 100;
}

.bsqt-pending-controller-action {
    background: url('/images/spinner.gif') no-repeat right 4px center;
}
